<h2 class="title_section">Sobre mi</h2>
<div class="subsection">
  <p>Técnico Superior en <span>Desarrollo de Aplicaciones Web</span>, en continua formación para aumentar mis conocimientos en <span>Backend & Full Stack</span>.
<br>
<br>
    Busco mi oportunidad para desarrollar mi carrera profesional en mi verdadera pasión como <span>Desarrollador Web</span> | <span>Desarrollador de Software</span> | <span>Analista de Datos</span>.</p>

    <button type="button" role="link" >icono pdf Descarga mi <span class="resaltar">Currículum Vitae</span> --> icono download</button>
  </div>



