.download_button {
  margin-top: 30px;
  transition: 0.4s;
  position: relative;
}

.download_button a {
  background-color: var(--blueElectric);
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2px 0px;
  border: 1px solid var(--black);
  border-radius: 3px;
  transition: 0.4s;
  width: 260px;
}

.download_button a .highlight {
  color: var(--whiteDark);
  transition: 0.4s;
}

.download_button img {
  width: 30px;
  height: 30px;
}

.download_button a .highlight::after {
  content: "";
  width: 0;
  display: block;
  height: 0.5px;
  background: var(--whiteDark);
  transition: 0.4s;
}

.download_button a:hover .highlight::after {
  width: 100%;
  transition: 0.4s;
}

.download_button a:hover {
  cursor: pointer;
  opacity: 0.4;
  transition: 0.4s;
}

.download_tooltip_content {
  position: absolute;
  top: 46px;
  left: calc(50% - 67px);
  padding: 1px;
}

.download_button a:hover ~ .download_tooltip_content {
  display: block;
}
