<div class="icon_title_section">
  <img src="../assets/icons/sections-titles/about-me-50x50.png" alt="about_me_icon">
  <h2 class="title_section">Sobre mi</h2>
</div>    <!-- End .icon_title_section -->
<div class="subsection">
  <p>Técnico Superior en <span class="highlight">Desarrollo de Aplicaciones Web</span>, en continua formación para aumentar mis conocimientos en <span class="highlight">Backend & Full Stack</span>.
<br>
<br>
    Busco mi oportunidad para desarrollar mi carrera profesional como <span class="highlight">Desarrollador Web</span> | <span class="highlight">Desarrollador de Software</span> | <span class="highlight">Analista de Datos</span>.
  </p>
  <div class="download_button">
    <a type="button"  href="{{cvRobertoChild.media.cv}}" download="CV_Roberto_Díaz_Oriol.pdf" target="_blank" >Descarga mi &nbsp;<span class="highlight">Currículum Vitae</span>&nbsp;<img class="dark_pdf" src="../assets/icons/download-pdf-dark-50x50.png"></a>
    <span class="tooltip_content download_tooltip_content">Click para descargar</span>
  </div>
</div>    <!-- End .subsection -->
