.title_section {

  font-family: var(--museoModerno);
  color: var(--blueElectric);
  margin: 0 auto;
  margin-top: 60px;
  width: 50%;
  padding: 10px;
  font-size: 30px;


}

.subsection {
  width: 50%;
  margin: 0 auto;
  background-color: var(--blackCarbon);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px var(--black);
  font-family: var(--lexend);
  font-weight: 250;
  line-height: 25px;
  padding: 25px;
  color: var(--whiteDark);

/*
  width: 50%;
    margin: 0 auto;
    background-color: var(--blackCarbon);
    border-radius: 5px;

    font-family: var(--lexend);
    font-weight: 250;
    line-height: 25px;
    padding: 25px;
    color: var(--whiteDark);

    background-color: rgb(48 47 46);
*/

}

span {
  color: var(--blueElectric);
  font-weight: 600;
}

button {
  padding: 5px;
  border-radius: 4px;
  background-color: var(--blueElectric);
  outline: none;
  border: none;
  transition: 0.4s;
  /*box-shadow: 0px 1px 1px 1px var(--black); */
}

.resaltar {
  color: var(--whiteDark);
  transition: 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: var(--yellow);
  box-shadow: 0px 1px 1px 1px var(--black);
  background-color: var(--black);
 /* color: var(--whiteDark); */
  background-color: var(--yellow);
}

button:hover .resaltar {
 /*  color: var(--blueElectric); */
}
