.contact_form .item_subsection {
  padding: 1px 15px;
}

.contact_form .item_subsection p {
  font-size: 15px;
}

fieldset {
  border: none;
}

legend {
  text-align: center;
}

.form_container {
  display: grid;
  row-gap: 30px;
}

.item_form_container {
  display: flex;
  justify-content: center;
}

.sub_item_form_container {
  position: relative;
  border-bottom: 1px solid var(--blueElectric);
}

.sub_item_form_container label {
  display: none;
  position: absolute;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: normal;
  color: var(--blueElectric);
  font-weight: 400;
  top: -10px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 1px;
  border-radius: 5px;
  background-color: var(--blackLight);
  animation: showDownUp 0.2s;
  z-index: 1;
}

.sub_item_form_container:focus-within label {
  display: block;
}

.sub_item_form_container .label_active { /* pruebas */
  display: block;
 }

input::placeholder, textarea::placeholder {
  background-color: var(--blackLight);
  color: var(--blueElectric);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  outline: 1px solid var(--blueElectric);
  border: none;
  background-color: var(--blackCarbon);
  background-color: var(--blackLight);
}

input:focus::placeholder, textarea:focus::placeholder {
  visibility: hidden;
}

#text_area {
  border: 1px solid var(--blueElectric);
  margin-top: 30px;
  border: none;
}

.item_form_container textarea {
  resize: none;
  width: 183px;
  height: 150px;
  border: 1px solid var(--blueElectric);
}

input, textarea {
  border: none;
  border-radius: 1px;
  outline: none;
  color: #ffffff;
  background-color: var(--blackLight);
  font-weight: 200;
  padding: 10px;
}

.item_form_container .terms {
  border: none;
}


/* TODO  campos de errores IMPLIMENTAR */


.error_input_form:focus {
  outline: 2px solid #ec5252;

}
.error_field {
  outline: 2px solid #ec5252;
  border-bottom: none;
}



