:root {
  /* Backgrounds Colors*/
  --blackBody: #1e2129;
  --black: #111317;
  --blackCarbon: #3C3E44;

  /* Fonts Colors */
  --whiteDark: #F5F5F5;
  --whiteDarkLight: #D7D7D7;
  --whiteDarkness: #E3F3F2; /* de mommento no se utiliza */
  --blueElectric2: #04FBFF; /* de momento no se está utilizando */
  --blueElectric: #00b0c8;
  --yellow: #FFC107;  /* de momento no se está utilizando */

  /* Fonts Families */
  --museoModerno: "MuseoModerno", sans-serif;
  --lexend: "Lexend", sans-serif;
}

/* GLOBALS
-----------*/
html, body {
  box-sizing: border-box;
  /*background-color: var(--blackBody);*/
  color: var(--whiteDark);
  height: 5000px;
}

a {
  text-decoration: none;
  color: none;
}

a:link, :visited, :active{
  color: var(--whiteDark);
}

ul {
  list-style-type: none;
  padding: 0;
}

/* ANIMATIONS
--------------*/

@keyframes fadeIn {   /* animation fade */
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes showUpDown {
  0% { translate: 0px -30px }
  100% { translate: 0px 0px }
}

/* TOOLTIPS
--------------*/
.tooltip_content {
  display: none;
  padding: 10px;
  border-radius: 2px;
  width: 130px;
  height: auto;
  text-align: center;
  padding: 4px;
  background-color: var(--blueElectric);
  color: #000;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  animation: fadeIn 1.5s;
}

.tooltip_content a {
  color: #000;
}


/* SECTIONS
--------------*/
.icon_title_section {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 15px;
  padding: 25px;
  padding-bottom: 5px;
}

.icon_title_section img {
  width: 45px;
  height: 45px;
}

.icon_title_section .title_section {
  font-family: var(--museoModerno);
  color: var(--blueElectric);
  display: contents;
  font-size: 26px;
}

.subsection {
  /*background-color: var(--blackCarbon);
  box-shadow: 5px 5px 5px 5px var(--black);
  font-weight: 200;*/
  font-family: var(--lexend);
  line-height: 25px;
  padding: 25px;
  padding-top: 1px;
}

.highlight {
  color: var(--blueElectric);
  font-weight: 600;
}

/* SECTIONS - RESPONSIVE WEB DESIGN
------------------------------------ */

@media only screen and (width >= 700px) {

  .icon_title_section {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
  }

  .subsection {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
  }
}

@media only screen and (width >= 800px) {

  .icon_title_section {
    width: 70%;
  }

  .subsection {
    width: 70%;
  }
}

@media only screen and (width >= 900px) {

  .icon_title_section {
    width: 65%;
  }

  .subsection {
    width: 65%;
  }
}

@media only screen and (width >= 1024px) {

  .icon_title_section {
    width: 50%;
  }

  .subsection {
    width: 50%;
  }
}
