/* LIGHT MODE
-------------- */

html, body {
  background-color: var(--whiteDarkLight);
}

.title_section {
  color: var(--black);
}

.subsection {
  background-color: var(--whiteDark);
  box-shadow: none;
  font-weight: 400;
  color: var(--black);
}

.item_subsection {
  background-color: #ffffff;
}









/* DARK MODE            ELIMINAR
-------------- */
/*
body {
  background-color: var(--blackBody);
}

.subsection {
  background-color: var(--blackCarbon);
  box-shadow: 5px 5px 5px 5px var(--black);
  font-weight: 200;
  color: var(--whiteDark);
}
*/
