.projects .item_subsection {
  padding: 0 15px;
}

.projects .item_subsection .item_subtitle {
  display: flex;
  flex-direction: column;
  column-gap: 0;
}

.projects .item_subsection .item_subtitle h3 {
  margin-bottom: 7px;
}

.projects .item_subsection .item_subtitle h4 {
  color: var(--blueElectric);
  margin: 0;
  margin-bottom: 10px;
}

.projects .item_subsection  p ~ h4 {
  border-bottom: 1px solid;
  width: max-content;
  margin-bottom: 0;
  font-size: 15px;
}

.projects .item_subsection ul {
  margin-bottom: 0;
  padding-left: 20px;
}

.projects ul li {
  font-size: 15px;
  position: relative;
}

.projects .item_subsection .ul_tech_project {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.projects .item_subsection .ul_tech_project li {
  width: 114px;
  padding: 5px;
  border-radius: 3px;
}

.icon_name {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.icon_name img {
  width: 23px;
  height: 23px;
}

.projects p {
  font-size: 15px;
}

#project_link {
width: 133px;
}

.projects .item_subsection .social_list {
  display: inline-flex;
  column-gap: 15px;
}

/* FLIPPER EFECT
-----------------*/

.flip_container {
  perspective: 1000px;
  width: 30px;
  height: 30px;
}

.flipper {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  height: 30px;
}

.front_icon, .back_icon {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.front_icon {
  transform: rotateY(0deg);
}

.back_icon {
  transform: rotateY(180deg);
}

.projects .item_subsection .social_list li:hover .flipper {
  transform: rotateY(180deg);
}

/* TOOLTIP CONTENT
-------------------*/

.projects .item_subsection .social_list li:hover .url_tooltip_content,
.projects .item_subsection .social_list li:hover .github_tooltip_content {
  display: block;
}

.projects .item_subsection .social_list li .url_tooltip_content {
  width: max-content;
  padding: 0 3px;
  position: absolute;
  top: 39px;
}

.projects .item_subsection .social_list li .github_tooltip_content {
  width: max-content;
  padding: 0 3px;
  position: absolute;
  top: 39px;
}

/* OWN CAROUSEL
-------------------*/

.carousel_container {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
  height: auto;
  margin-top: 20px;
}

.carousel {
  position: relative;
}

.carousel img {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: .6s;
  animation: fadeIn 2s;
  aspect-ratio: 4/3;
  object-fit: contain;
}

#carousel_image:hover {
  opacity: 0.5;
}

.carousel_container .left_button,
.carousel_container .right_button {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  left: 0;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  width: 8%;
  transition: .6s;
}

.carousel_container .right_button {
  left: 92%;
}

.carousel_container .left_button:hover,
.carousel_container .right_button:hover {
  background-color: var(--blackCarbon);
}

.carousel_container .dots_container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #bbb;
  opacity: 0.4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .3s ease;
  margin: 0 5px;
}

.active_dot, .dot:hover {
  background-color: #C2C2C2;
  opacity: 1;
}


/* OWN MODAL WINDOW
--------------------*/

.modal_container {
  height: 100%;
  width: 100%;
  background: rgb(73 68 68 /  0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.modal_container_is_visible {
  display: block;
  opacity: 1;
}

.modal {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .image_container {
  height: auto;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.modal img {
  height: 100%;
  width: 100%;
  animation: fadeIn 2s;
  aspect-ratio: 4/3;
  object-fit: contain;
}

.modal_container .left_button,
.modal_container .right_button {
  cursor: pointer;
  position: absolute;
  bottom: 44%;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  transition: 0.6s;
  z-index: 2;
}

.modal_container .left_button {
  left: 0;
}

.modal_container .right_button {
  right: 0;
}

.modal_container .close {
  cursor: pointer;
  width: 23px;
  height: 23px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 3px;
  align-self: self-end;
  transition: 0.6s;
  z-index: 2;
}

.modal_container .close img {
  width: 100%;
  height: 100%;
}

.modal_container .left_button:hover,
.modal_container .right_button:hover,
.modal_container .close:hover {
  background-color: #000000;
}

.modal_container .dots_container {
  display: inline-flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}


/* PROJECTS - RESPONSIVE WEB DESIGN
------------------------------------ */

            /* WIDTH
            ---------*/
@media only screen and (width > 550px) {

  .carousel_container {
    width: 85%;
  }
}

@media only screen and (width >= 600px) {

  .carousel_container {
    width: 80%;
  }
}

@media only screen and (width >= 800px) {

  .carousel_container {
    width: 70%;
  }
}

@media only screen and (width >= 1024px) {

  .modal_container .modal {
    width: 60%;
  }
}

@media only screen and (width >= 1367px) {

  .carousel_container {
    width: 55%;
  }
}

@media only screen and (width > 2170px) {

  .modal_container .modal {
    width: 50%;
  }
}

            /* HEIGHT
            ---------*/

@media only screen and (height <= 600px) {

  .modal_container .modal {
    width: 70%;
  }
}

@media only screen and (width >= 914px) and (height <= 516px) {

  .modal_container .modal {
      width: 65%;
  }
}

@media only screen and (width >= 914px) and (height < 482px) {

  .modal_container .modal {
      width: 55%;
  }
}

@media only screen and (width >= 914px) and (height < 410px) {

  .modal_container .modal {
      width: 50%;
  }
}

@media only screen and (width >= 914px) and (height < 375px) {

  .modal_container .modal {
      width: 45%;
  }
}

@media only screen and (width >= 914px) and (height < 344px) {

  .modal_container .modal {
      width: 30%;
  }
}

@media only screen and (width >= 740px) and (height <= 370px) {

  .modal_container .modal {
      width: 45%;
  }
}

@media only screen and (width >= 914px) and (height < 344px) {

  .modal_container .modal {
      width: 40%;
  }
}

@media only screen and (width >= 914px) and (height < 312px) {

  .modal_container .modal {
      width: 35%;
  }
}


