<div class="icon_title_section">
  <img src="../assets/icons/sections-titles/technologies-50x50.png" alt="technologies_icon">
  <h2 class="title_section">Tecnologías</h2>
</div>    <!-- End .icon_title_section -->
<div class="subsection">
  <div class="item_subsection">
    <div class="item_subtitle">
      <img src="../assets/icons/technologies/frontend-64x64.png" alt="frontend_icon">
      <h4>Frontend</h4>
    </div>   <!-- End .item_subtitle -->
    <ul *ngFor="let item of cvRobertoChild.technologies">
      <li *ngFor="let subitem of item.frontend">
        {{ subitem.name }}
      </li>
    </ul>

  </div>    <!-- End .item_subsection -->

  <div class="item_subsection">
    <div class="item_subtitle">
      <img src="../assets/icons/technologies/backend-64x64.png" alt="frontend_icon">
      <h4>Backend</h4>
    </div>   <!-- End .item_subtitle -->
    <ul *ngFor="let item of cvRobertoChild.technologies">
      <li *ngFor="let subitem of item.backend">
        {{ subitem.name }}
      </li>
    </ul>

  </div>    <!-- End .item_subsection -->

  <div class="item_subsection">
    <div class="item_subtitle">
      <img src="../assets/icons/technologies/database-50x50.png" alt="frontend_icon">
      <h4>Base de Datos</h4>
    </div>   <!-- End .item_subtitle -->
    <ul *ngFor="let item of cvRobertoChild.technologies">
      <li *ngFor="let subitem of item.database">
        {{ subitem.name }}
      </li>
    </ul>

  </div>    <!-- End .item_subsection -->

  <div class="item_subsection">
    <div class="item_subtitle">
      <img src="../assets/icons/technologies/knowledge-60x60.png" alt="frontend_icon">
      <h4>+ Conocimientos</h4>
    </div>   <!-- End .item_subtitle -->
    <ul *ngFor="let item of cvRobertoChild.technologies">
      <li *ngFor="let subitem of item.knowledges">
        {{ subitem.name }}
      </li>
    </ul>

  </div>    <!-- End .item_subsection -->


</div>    <!-- End .subsection -->
