  <!-- Functions to change mode light/dark icon -->
{{ mainLoad() }} <!-- todo-> MALA PRACTICA. MODIFICAR a OnInit en .ts -->

<header>
  <app-main-top-header [cvRobertoChild] = "cvRoberto"></app-main-top-header>
  <app-main-header [cvRobertoChild] = "cvRoberto"></app-main-header>
</header>

<main>
  <app-resume-page [cvRobertoChild] = "cvRoberto"></app-resume-page>
</main>

<section> <!-- FORM SECTION -->
<app-main-form [cvRobertoChild] = "cvRoberto"></app-main-form>
</section>

<footer>
  <app-main-footer></app-main-footer>
  <app-secondary-footer></app-secondary-footer>
</footer>





