.main_top_header {
  position: fixed;
  top: 0;
  background: rgba(17, 19, 23, 0.9);
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: var(--museoModerno);
  color: var(--blueElectric);
  font-size: 13px;
  font-weight: 400;
  height: 37px;
  z-index: 1;
}

.item_main_top_header {
  position: relative;
  padding: 0 10px;
}

  /* Email Icon
  -------------*/
.item_main_top_header .tooltip_content {
  top: 45px;
  left: 30px;
}

.email_top_header .email_tooltip_content {
  width: 100px;
}

.email_top_header a {
  color: var(--blueElectric);
  display: flex;
  align-items: center;
  column-gap: 5px;
  height: 100%;
  transition: .5s;
}

.email_top_header a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* TODO-> pruebas hover dispositivos táctiles */
@media (hover: hover) {
  .email_top_header a:hover {
    opacity: 0.5;
  }
}

@media (hover: hover) {
  .email_top_header:hover .email_tooltip_content/*, .email_top_header:focus .email_tooltip_content */{
    display: block;
  }
}




/* Top Header Name
  ----------------*/

  .top_header_name {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s;
    animation: showUpDown 1s;
  }

  .name {
    color: var(--blueElectric);
    font-size: 25px;
  }

  /* Sun/Moon Icon
  ------------*/

.light_dark_mode {
  display: flex;
  align-items: center;
}

.light_dark_mode img {
  width: 35px;
  height: 35px;
  transition: .5s;
}

.light_dark_mode .tooltip_content {
  left: -39px;
  padding: 4px;
}

.light_dark_mode .dark_mode img,
.light_dark_mode .light_mode img {
 display: none;
}

.light_dark_mode img:hover, .light_dark_mode img:focus {
  cursor: pointer;
  opacity: 0.5;
}

.light_dark_mode:hover .light_mode, .light_dark_mode:hover .dark_mode,
.light_dark_mode:focus .light_mode, .light_dark_mode:focus .dark_mode {
  display: inline-block;
}

  /* RESPONSIVE WEB DESIGN
  ------------------------*/

  @media(width <= 900px) {

    .main_top_header {
      justify-content: space-between;
    }
  }

  @media(width <=  800px) {

    .email_top_header .email_tooltip_content {
      top: 37px;
    }

    .light_dark_mode .tooltip_content {
      top: 37px;
      left: -125px;
      width: 150px;
    }

    .light_dark_mode:hover .dark_mode, .light_dark_mode:hover .light_mode,
    .light_dark_mode:focus .dark_mode, .light_dark_mode:focus .light_mode {
      display: flex;
      justify-content: end;
      width: 142px;
    }

    .light_dark_mode .light_mode {
      width: 135px;
    }

    .light_dark_mode .dark_mode img, .light_dark_mode .light_mode img {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: -4px;
    }

  }

  @media(width <=  500px) {

    .email_top_header:hover .second_tooltip_content,
    .email_top_header:focus .second_tooltip_content {
      display: block;
    }

    .email_top_header:hover .first_tooltip_content,
    .email_top_header:focus .first_tooltip_content {
      display: none;
    }
  }

