<div class="main_top_header">
  <div class="item_main_top_header email_top_header">
    <span class="tooltip_content email_tooltip_content">Contacta conmigo</span>
    <a href="mailto:{{cvRobertoChild.media.email}}">
      <img class="email_blue" src="../assets/icons/social-icons/email-blue-30x30.png" alt="email_image">
      <div *ngIf="screenWidht >= 500 || windowScroll < 50"> {{ cvRobertoChild.media.email }} </div>
      <div *ngIf="screenWidht >= 400 && screenWidht <= 499 && windowScroll > 50"> Contactar </div>
    </a>
  </div>
  <div class="item_main_top_header top_header_name" *ngIf="windowScroll >= 50">
    <a href="../index.html"><span class="name">r</span>oberto<span class="name">d</span>íaz<span class="name">o</span>riol</a>
  </div>
  <div class="item_main_top_header light_dark_mode" (click)="changeMode()">
      <span class="tooltip_content dark_mode" *ngIf="lightMode == 'light'; else light_mode">Cambiar a modo oscuro<img src="../assets/icons/arrow-diagonal-right.png"></span>
    <ng-template #light_mode>
      <span class="tooltip_content light_mode">Cambiar a modo claro<img src="../assets/icons/arrow-diagonal-right.png"></span>
    </ng-template>
    <img id="icon_mode" src="../assets/icons/moon-blue-100x100.png">
  </div>
</div>
