<div class="main_top_header">
  <div class="item_main_top_header email_top_header">
    <span class="tooltip_content">Enviar correo electrónico</span>
    <a href="mailto: rdoriol@gmail.com">
      <img class="email_blue" src="../assets/icons/email-blue-50.x50.png" alt="email image">
      <p>{{ cvRobertoChild.media.email }}</p>
    </a>
  </div>
  <div class="item_main_top_header light_dark_mode">
    <span class="tooltip_content dark_mode">Cambiar a modo oscuro</span>
    <span class="tooltip_content light_mode">Cambiar a modo claro</span>
    <p>modo oscuro</p>
  </div>
</div>
