<section class="about_me">
  <app-about-me [cvRobertoChild]="cvRobertoChild"></app-about-me>
</section>

<section class="technologies">
  <app-technologies [cvRobertoChild]="cvRobertoChild"></app-technologies>
</section>

<section class="projects">
  <app-projects [cvRobertoChild]="cvRobertoChild"></app-projects>
</section>

<section class="experience">
  <app-experience [cvRobertoChild]="cvRobertoChild"></app-experience>
</section>

<section class="training">
  <app-training [cvRobertoChild]="cvRobertoChild" ></app-training>
</section>

<section class="extras">
  <app-extras></app-extras>
</section>
